@using System.Data
@{
    Layout = null;
}
<div class="card card-cascade narrower">

    <!-- Card image -->
    <div class="view view-cascade gradient-card-header f-bg1">
        <h6 class="mb-0 text-uppercase"><i class="fal fa-calendar-alt mr-3"></i>Lịch làm việc lãnh đạo</h6>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade">
        <ul class="list-group list-group-flush">
            <li class="list-group-item px-0">
                <a href="javascript://">Lịch làm việc của Lãnh đạo Cục tuần từ 22/4/2019 đến 26/4/2019</a>
            </li>
            <li class="list-group-item px-0">
                <a href="javascript://">Lịch làm việc của Lãnh đạo Cục tuần từ 22/4/2019 đến 26/4/2019</a>
            </li>
            <li class="list-group-item px-0">
                <a href="javascript://">Lịch làm việc của Lãnh đạo Cục tuần từ 22/4/2019 đến 26/4/2019</a>
            </li>
            <li class="list-group-item px-0">
                <a href="javascript://">Lịch làm việc của Lãnh đạo Cục tuần từ 22/4/2019 đến 26/4/2019</a>
            </li>
            <li class="list-group-item px-0">
                <a href="javascript://">Lịch làm việc của Lãnh đạo Cục tuần từ 22/4/2019 đến 26/4/2019</a>
            </li>
            <li class="list-group-item px-0">
                <a href="javascript://">Xem thêm <i class="fal fa-angle-double-right"></i></a>
            </li>
        </ul>
    </div>
    <!-- Card content -->

</div>